@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Individual product page */

.text-bold
{
  padding-left:30px;
  font-weight: bold;
}
.container-prod {
  /* margin-top:400px; */
  font-family: Arial, sans-serif;
  max-width: 960px;
  margin:75px auto;
  margin-bottom:15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
}

.product-images {
  flex: 0.5;
  padding: 10px;
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.slideshow-container img {
  width: 100%;
  height: auto;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.product-description {
  flex: 0.5;
  padding: 10px;
  box-sizing: border-box;
}

.prodid{
  font-size: 36px;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
}

.carousel-description, .prod_desc {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 10px;
}

.product-details {
  flex: 1;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.prod_details, .bottom-carousel-title {
  font-size: 24px;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.unordered{
  list-style-type: disc;
  padding-left: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.butn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 18px;
}

.butn:hover {
  background-color: #2980b9;
}

.quantity-input {
  font-size: 16px;
  width: 60px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 10px;
}

/* Carousel Styles */
.carousel-container {
  max-width: 960px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.carousel-title {
  font-size: 24px;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.related-products-carousel {
  display: flex;
  overflow: hidden;
}

.related-product-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  margin-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.related-product-item img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

.carousel-content {
  padding: 15px;
}

.carousel-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

/* Add Slider Navigation Arrows */
.carousel-control-prev, .carousel-control-next {
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
}



/* Display three items side by side */
@media (min-width: 768px) {
  .related-product-item {
      flex-basis: calc(33.3333% - 20px);
  }
}

/* Add this style for the bottom slider */
.bottom-carousel-container {
  max-width: 960px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.bottom-carousel-title {
  font-size: 24px;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.bottom-related-products-carousel {
  overflow: hidden;
}

.bottom-related-product-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  margin-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-related-product-item img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

/* End Individual Product page */


.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

/** banner section **/

 .slider_main {
  background-size: 100% auto;
  position:sticky;
   /* margin-top: 0px;*/
   /* top:0px;  */
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.relative {
  left: 0;
  right: 0;
  text-align: center;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-item {
  min-height: 300px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.carousel-caption h3 {
  animation-delay: 1s;
}

.carousel-caption p {
  animation-delay: 2s;
}

.carousel-caption button {
  animation-delay: 3s;
}

.relative .read_more {
  border: none;
  background: #fff;
  color: #000000;
}

.relative .read_more:hover {
  background: #02306f;
  color: #fff;
}

.relative .read_more:focus {
  box-shadow: none;
}

.relative h3 {
  padding: 0;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 30px;
}

.relative p {
  padding: 0;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 10px;
}

.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

.carousel-caption button {
  border-color: #00bfff;
  margin-top: 1em;
}

.slider_main .carousel-indicators {
  display: none;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  width: 70px;
  margin:80px;
  height: 70px;
  background-color: #ffffff;
  color: #024270;
  font-size: 35px;
  opacity: 1;
  border-radius: 50px;
  top: 45%;
}

#carouselExampleIndicators .carousel-control-next:focus,
#carouselExampleIndicators .carousel-control-next:hover,
#carouselExampleIndicators .carousel-control-prev:focus,
#carouselExampleIndicators .carousel-control-prev:hover {
  background-color: #024270;
  color: #fff;
}



.layout_padding {
  padding: 90px 0;
}

/* .layout_padding2 {
  padding: 75px 0;
} */

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.heading_container h2 span {
  color: #024270;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* .sub_page .hero_area {
  min-height: auto;
}

.sub_page .header_section {
  margin-top: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  
} */

.header_section  {
  /* padding: 15px 20px 15px 15px; */
  /* background-color: #476269; */
  top:0px;
}

.header_section  .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* .header_section .contact_nav a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
} */

/* .header_section .header_top .contact_nav a i {
  margin-right: 7px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #40a798;
} */

/* .header_section .header_top .contact_nav a:hover i {
  color: #476269;
} */

.header_section .container-fluid  {

  /* background: linear-gradient(90deg, #ffffff 30%, #024270 30%); */
  background-color: white;
  top:0;
  width:100%;
  /* z-index: 1; */
  padding: 0px;
}

.header_section{
  /* overflow:hidden; */
  box-shadow:2px 1px 3px;
  width:100%;
  position:fixed;
  z-index: 2;
}

.header_section .container-fluid { 
  /* padding-right: 25px; */
  /* padding-left: 25px; */
}


.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  /* z-index: 2; */
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

/* .custom_nav-container .navbar-nav {
  margin-left: auto;
  position:fixed;
  z-index: 2;
  overflow : hidden;
  display: flex; 
  flex-wrap:nowrap;
} */
.navbar {
  max-width:1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the navbar */
}


.custom .navbar-nav .nav-item .nav-link{
  color:#000000;
  font-weight: 550;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left:25px;              
  display:flex;
  flex-wrap: nowrap;

}
/* .custom_nav-container .navbar-nav .nav-item .nav-link {


  color:#000000;
  font-weight: 700; */
  /* font-size: x-large; */
  /* font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
} */

/* .custom .navbar-nav .nav-item .nav-link:hover{
  color:white;
  background-color: #03497b;
} */
/* hover buttons */
/* Navbar dropdown button styling */
.navbar .dropdown-toggle {
  color: #000000;
  /* background-color: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 4px; */
  padding: 8px 16px; /* Increased padding for better touch/click experience */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .dropdown-toggle:hover {
  background-color: #191919; /* Darker background color on hover */
  color: #000000; /* Text color on hover */
}

/* Dropdown menu styling */
.navbar .dropdown-menu {
  display: none; /* Initially hide the dropdown */
  background-color: #fcfcfc;
  border: 1px solid #0056b3;
   color: #0b0b0b;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Show the dropdown on hover */
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Style for the dropdown items */
.navbar .dropdown-menu .dropdown-item {
  color: #000000;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}

/* Darker background color on hover */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #0056b3;
  color:white;
}

/* Apply hover styles only on screens larger than 768px */
@media (min-width: 991px) {
  .custom .navbar-nav  .nav-item .nav-link:hover {
    background-color:#03497b;
    color:white;
    /* Add any other hover styles here */
  }
}
@media (max-width: 991px) {
  .custom .navbar-nav  .nav-item .nav-link:hover {
    color:#03497b;
    /* Add any other hover styles here */
  }
  .navbar-nav .nav-link {
    position: relative;
    display:inline;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #03497b; /* Adjust to your desired hover color */
    transition: width 0.3s ease;
  }
  
   .home:hover::after {
    width: 49px;
  }
  .about:hover::after {
    width: 79px;
  }
  .serv:hover::after {
    width: 70px;
  }
  .prod:hover::after {
    width: 84px;
  }
  .site:hover::after {
    width: 41px;
  }
  .client:hover::after {
    width: 65px;
  }
  .contact:hover::after {
    width: 98px;
  }
  
  
 
  
  
  
  
}
.navbar-brand{
  margin-right:2px;
  /* width:100%; */
 
}





.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 75px 0;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.slider_section .slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider_section .slider_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.8)), to(rgba(37, 37, 37, 0.65)));
  background: linear-gradient(to right, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.65));
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #476269;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #40a798;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 20px;
}

.slider_section .detail-box a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
  opacity: 1;
  text-indent: unset;
  background-clip: unset;
  border: none;
  font-weight: 500;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.7;
  border-radius: 100%;
  border: 2px solid transparent;
  font-size: 14px;
}

.slider_section .carousel-indicators li.active {
  border: 2px solid #ffffff;
  opacity: 1;
}


/** service **/

/*** Service ***/
.service_container
{
  margin: 35px 0px;
}
.service-item {
  position: relative;
  margin: 65px 0 25px 0;
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
  position: absolute;
  padding: 12px;
  width: 130px;
  height: 130px;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .09);
  z-index: 2;
}

.service-item .service-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.service-item .service-title {
  position: absolute;
  padding: 65px 30px 25px 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  transition: .5s;
}

.service-item:hover .service-title {
  top: -100%;
}

.service-item .service-text {
  position: absolute;
  overflow: hidden;
  padding: 65px 30px 25px 30px;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(2, 36, 91, .7);
  transition: .5s;
}

.service-item:hover .service-text {
  top: 0;
}

.service-item .service-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  top: -100%;
  left: 0;
  transform: skewY(-12deg);
  background: #FFFFFF;
  transition: .5s;
}

.service-item:hover .service-text::before {
  top: -55px;
}

.service-item .btn {
  position: absolute;
  width: 130px;
  height: 50px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 45px rgba(0, 0, 0, .09);
  z-index: 2;
}
.service-item{
  z-index: 1;
}

.service-item .btn:hover {
  color: #FFFFFF;
  background: var(--primary);
}
.breadcrumb{
  margin: 20 auto;
  position: relative;
  top:60px;
  width: 100%;
  padding:30px;
}
.breadcrumb-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1; }
.breadcrumb-item a, .container-xxl .container-fluid p{
  color:#000000;
}
.breadcrumb-text h1 {
  color: #fff; /* Set your desired text color */
}



/* Core values */
.service {
  background: #fff;
  padding-bottom: 30px;
  padding-top: 80px;
}

.service .titlepage p {
  line-height: 30px;
  color: #000000;
  padding-top: 15px;
}

.service-box {
  background: #fff;
  margin-bottom: 60px;
}

.pro_text {
  padding: 30px 20px;
}

.service-box h3 {
  color: #02306f;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
}

.service-box p {
  padding-top: 15px;
}

.design_box {
  background: #fffc;
  text-align: center;
  padding: 0 10px 35px 10px;
  margin-top: 85px;
}

.service-box i {
  background: #ffff;
  width: 123px;
  display: flex;
  height: 123px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* transform: rotate(45deg);*/
  border: #02306f solid 4px; 
  border-radius: 50%;
}
.service .container .row h2{
  font-weight: 700;
  
}
.service .container .row .blue {
  color:rgb(5, 7, 127)
} 
.service-box i img {
  transform: rotate(-45deg);
}
.col-md-6 .service-item{
  margin-bottom:20px;
  padding:20px;

}

/** end service **/



.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  padding: 120px 30px 35px 0;
  top: 30px;
  z-index:1;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .img-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 45px);
  height: 450px;
  background-color: #01161c;
  z-index: 1;
  opacity: 0.45;
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #024270;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

/* why us section */
.why_us_section {
  position: relative;
  color: #ffffff;
}

.why_us_section .why_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.why_us_section .why_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why_us_section .why_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(71, 98, 105, 0.6)), to(rgba(71, 98, 105, 0.65)));
  background: linear-gradient(to right, rgba(71, 98, 105, 0.6), rgba(71, 98, 105, 0.65));
}

.why_us_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 0;
}

.why_us_section .box .num-box {
  border-radius: 5px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.why_us_section .box h3 {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.why_us_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_us_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #476269;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_us_section .btn-box a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

/* end why us section */
/* client section start */
.client_section .container {
  padding: 0;
}

.client_section .heading_container {
  margin-bottom: 30px;
  padding: 0 15px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding: 25px;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 25px;
  min-width: 135px;
}

.client_section .box .client_id h5 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  min-width: 100px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
  border: 5px solid #476269;
}

.client_section .box .detail-box p {
  margin-bottom: 10px;
}

.client_section .box .detail-box i {
  color: #476269;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #40a798;
  color: #ffffff;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  margin: 0 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: #476269;
}

/* client section end */
.contact_section {
  position: relative;
  padding-bottom: 90px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container {
  margin-right: 15px;
  padding:30px;
  color:#000000;
  border-radius: 10px;
  text-align:start;
  font-size: large;
  font-weight: bold;
  box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
  
}
.text-black
{
  color: rgba(0, 0, 0, 0.5);
}

.contact_section .form_container .contact_box a:hover,.contact_section .form_container .contact_box span:hover{
  color:#137BC2;
}
/* .contact_section .form_container .contact_box{
  color: #000000;

} */
.contact_section .form_container .social_info
{
  text-align: center;
  font-size: 30px;
}
.contact_section .form_container .social_info a
{
  padding:10px;
  color: #000000;
}
.contact_section .form_container  a:hover
{
  color:#137BC2;
}

.contact_section .map_container {
  height: 420px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
  background-color: #03497b;
  color: rgb(196, 191, 191);
  padding: 45px 0 15px 0;
  /* margin:0 auto; */
}
.info_section .container .row .office{
  padding-left: 0px;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #060606;
}

 .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

 .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

 .info_social a:hover {
  color: #012742;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #476269;
  padding: 25px 0;
  margin: 0;
  font-weight: 600;
}

.footer_section p a {
  color: inherit;
}
/* Center and style the text within .carousel-caption */
.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Increase the font size for h3 and p within .carousel-caption */
.carousel-caption h3 {
    font-size: 36px; /* Adjust the font size as needed */
}

.carousel-caption p {
    font-size: 24px; /* Adjust the font size as needed */
}

/* Style the buttons within .carousel-caption */
.carousel-caption .btn {
    font-size: 18px; /* Adjust the font size as needed */
}

/*# sourceMappingURL=style.css.map */